<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/timer"
        android:label="TimeNote+ by Leony"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".AlarmPlayer.AlarmPlayer"></activity>
        <activity android:name=".OptionActivity" />
        <activity
            android:name=".TimePlayer.TimePlayer"
            android:launchMode="singleTop" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimePlayer.ServiceActivity"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:exported="true"></activity>
        <activity
            android:name=".TimePlayer.ShortcutActivity"
            android:excludeFromRecents="true"
            android:label="@string/timelable_shortcut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".TimePlayer.MyServices"
            android:enabled="true"
            android:launchMode="singleTask" />
        <receiver
            android:name=".AlarmPlayer.MyBroadcastReceiver">
        </receiver>
        <receiver android:name=".AlarmPlayer.DismissBroadcast">
        </receiver>
        <service
            android:name=".AlarmPlayer.AlarmService" />
    </application>

</manifest>